include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include help_remover *.css
recursive-include help_remover *.csv
recursive-include help_remover *.html
recursive-include help_remover *.ico
recursive-include help_remover *.js
recursive-include help_remover *.json
recursive-include help_remover *.md
recursive-include help_remover *.png
recursive-include help_remover *.py
recursive-include help_remover *.svg
recursive-include help_remover *.txt
recursive-exclude help_remover *.pyc